<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
>
<link href="../static/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<head>
    <meta charset="UTF-8">
    <title>Adam Piatkowski</title>
</head>
<body>
<header>
    <h2><p>Adam Piatkowski</p></h2></b>
    <h4><p>projekt inżynierski</p></h4>
</header>
<nav>
    <a class="menuButton">
        <i class="fas fa-address-book"></i>
        Menu
    </a>
</nav>
<section class="page-content">

    <section class="menu-bar">
        <section class="list">
            <ul>
                <li>
                    <a>Moje Konto</a>
                </li>
                <li>
                    <a>Strona główna</a>
                </li>
                <li>
                    <a>Aktualności</a>
                </li>
                <li>
                    <a>Agatka sprawdza</a>
                </li>
            </ul>
        </section></section>
</section>


</body>
<script src="../static/js/script.js"></script>
</html>